<configuration>

  <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%cyan(%relative) %highlight(%-5level) %msg | %magenta(%logger) %yellow(%thread) %n</pattern>
    </encoder>
  </appender>
  
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>target/log</file>
    <append>true</append>
    <encoder>
      <pattern>%relative %level %msg | %logger %thread%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="stderr"/>
  </root>
</configuration>
