name: Build packages

on:
  push:
    branches: [main]
    paths-ignore:
      - 'updater/**'
      - '.github/workflows/build-updater.yml'
  workflow_dispatch:
  workflow_run:
    workflows: ["Refresh product versions"]
    types: [completed]
    branches: [main]

jobs:
  build-packages:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pkg:
          - jetbrainsruntime
        nixpkgs_branch:
          - nixos-unstable

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v14
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.4pre20210823_af94b54/install
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: nixbuild/nixbuild-action@v5
        with:
          nixbuild_ssh_key: ${{ secrets.nixbuild_ssh_key }}
      - uses: cachix/cachix-action@v10
        with:
          name: liff
          authToken: '${{ secrets.cachix_auth_token }}'
          signingKey: '${{ secrets.cachix_signing_key }}'

      - name: Build package ${{ matrix.pkg }}
        run: nix -L build --override-input nixpkgs github:nixos/nixpkgs/${{ matrix.nixpkgs_branch }} .#${{ matrix.pkg }}
