name: Refresh product versions

on:
  schedule:
    - cron: '47 4 * * *'
  workflow_dispatch:
  workflow_run:
    workflows: ["Build Updater"]
    types: [completed]
    branches: [main]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v14
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.4pre20210823_af94b54/install
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: liff

      - name: Run updater
        run: nix -L run ./updater -- data/packages.json

#      - name: Run JBR updater
#        run: ./pkgs/jetbrainsruntime/update data/packages.json data/jetbrainsruntime.json

      - name: Commit changes, if any
        uses: EndBug/add-and-commit@v7.3.0
        with:
          add: 'data'
          author_name: github-actions
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: 'Automatic package update'
